html {
    box-sizing: border-box;
}

#gameBoard {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
}

.container-wrapper {
    padding: 1em;
}

.tile {
    border: 1px solid black;
}

.white {
    background: white;
}

.black {
    background: black;
}

/* body {
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */