html {
    box-sizing: border-box;
}

#gameBoard {
    display: grid;
    max-width: 600px;
    min-height: 600px;
    margin: 2rem auto;
}

#sizeButton {
    position: absolute;
    left: 48%;
}

.container-wrapper {
    padding: 1em;
    margin: 0 auto;
}

.tile {
    border: 1px solid black;
}

.white {
    background: white;
}

.black {
    background: black;
}
